<app-sidebar></app-sidebar>
<div class="body-position">
  <app-dashboard-head></app-dashboard-head>
  <div style="background-color: #f8f9fa">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <div class="main-container">
            <div>
              <h4>Add Order</h4>
            </div>
            <div class="order-body py-2 px-3">
              <div class="my-3">
                <label class="add-order-label m-0">Product</label>
                <p-dropdown
                styleClass="w-100"
                [options]="productArray"
                optionLabel="title"
                [(ngModel)]="productToUpdate"
                (onChange)="toggleFields($event.value)"
                [placeholder]="productArray.length !== 1 ? placeholderText.product : productArray[0].title"
              ></p-dropdown>
              </div>
            </div>
          </div>

          <div class="main-container">
            <div class="order-body py-2 px-3">
              <div *ngIf="paperStock" class="my-3">
                <label class="add-order-label m-0">PaperStock</label>
                <p-dropdown
                  styleClass="w-100"
                  [options]="paperStock"
                  optionLabel="paperStock"
                  [(ngModel)]="paperStockItem"
                  (onChange)="gsmFields($event.value)"
                  [placeholder]="paperStock.length !== 1 ? placeholderText.paper : paperStock[0].paperStock"
                ></p-dropdown>
              </div>
              <div *ngIf="categoryArray" class="my-3">
                <label class="add-order-label m-0">Category</label>
                <p-dropdown
                  styleClass="w-100"
                  [options]="categoryArray"
                  optionLabel="name"
                  [(ngModel)]="category"
                  [placeholder]="categoryArray.length !== 1 ? placeholderText.category : categoryArray[0].name"
                ></p-dropdown>
              </div>
              <div *ngIf="size" class="my-3">
                <label class="add-order-label m-0">Size</label>
                <p-dropdown
                  styleClass="w-100"
                  [options]="size"
                  optionLabel="label"
                  [(ngModel)]="sizeValue"
                  [placeholder]="size.length !== 1 ? placeholderText.size : size[0].label"
                ></p-dropdown>
              </div>
              <div *ngIf="quantity" class="my-3">
                <label class="add-order-label m-0">Quantity</label>
                <p-dropdown
                  styleClass="w-100"
                  [options]="quantity"
                  optionLabel="name"
                  [(ngModel)]="qtyValue"
                  [placeholder]="quantity.length !== 1 ? placeholderText.quantity : quantity[0].name"
                ></p-dropdown>
              </div>
              <div *ngIf="printSide" class="my-3">
                <label class="add-order-label m-0">Print Side</label>
                <p-dropdown
                  styleClass="w-100"
                  [options]="printSide"
                  (onChange)="jobColorOptions($event.value)"
                  optionLabel="name"
                  [(ngModel)]="sideOptionValue"
                  [placeholder]="printSide.length !== 1 ? placeholderText : printSide[0].name"
                ></p-dropdown>
              </div>
              <div *ngIf="jobFront" class="my-3">
                <label class="add-order-label m-0">Job Color Front</label>
                <p-dropdown
                  styleClass="w-100"
                  [options]="jobFront"
                  optionLabel="name"
                  [(ngModel)]="jobFrontValue"
                  [placeholder]="jobFront.length !== 1 ? placeholderText.frontColor : jobFront[0].name"
                ></p-dropdown>
              </div>
              <div *ngIf="!isJobColorBackHidden && jobColorBack" class="my-3">
                <label class="add-order-label m-0">Job Color Back</label>
                <p-dropdown
                  styleClass="w-100"
                  [options]="jobColorBack"
                  optionLabel="name"
                  [(ngModel)]="jobBackValue"
                  [placeholder]="jobColorBack.length !== 1 ? placeholderText.backColor : jobColorBack[0].name"
                ></p-dropdown>
              </div>
              <div class="mb-3" *ngIf="foundGsm">
                <label class="add-order-label m-0"
                  >GSM FOR {{ dynamicFields }}</label
                >
                <p-dropdown
                  styleClass="w-100"
                  [options]="optionsGsm"
                  optionLabel="name"
                  [(ngModel)]="selectedGsm"
                ></p-dropdown>
              </div>
              <button
                type="submit"
                class="btn order-table-btn btn-search-panel w-100"
                (click)="calculate()"
              >
                Calculate
              </button>
            </div>
          </div>

          <div class="main-container">
            <div class="order-body py-2 px-3">
              <div class="my-3">
                <label class="add-order-label m-0">Customer Name</label>
                <p-dropdown
                  styleClass="w-100"
                  [options]="customersArray"
                  optionLabel="name"
                  [(ngModel)]="selectedCustomer"
                  placeholder="Select Customer Name"
                ></p-dropdown>
              </div>
              <div class="my-3" *ngIf="selectedCustomer?.businessName">
                <label class="add-order-label m-0">Business Name</label>
                <span
                  class="order-search form-control m-0 w-100"
                  style="border: 1px solid #ced4da"
                  >{{ selectedCustomer?.businessName }}</span
                >
              </div>
              <button
                type="submit"
                class="btn order-table-btn btn-search-panel w-100"
                routerLink="/addCustomer"
              >
                Add New Customer
              </button>
            </div>
          </div>

          <div class="main-container">
            <div
              class="order-body upload-section"
              [ngClass]="{ 'upload-img': !imgUrl }"
            >
              <div class="text-center" *ngIf="!imgUrl">
                <input
                  type="file"
                  class="file-input"
                  (change)="uploadFile($event)"
                  #fileUpload
                />
              </div>
              <img src="{{ imgUrl }}" alt="" class="w-100" *ngIf="imgUrl" />
            </div>
            <div class="mt-3">
              <input
                type="radio"
                name="selectDesign"
                (click)="designToggle(customerDesign)"
                [checked]="designValue"
              />
              &nbsp;&nbsp; Will provide Design Later
              <br />
              <input
                type="radio"
                name="selectDesign"
                (click)="designToggle(printLabDesign)"
                [checked]="!designValue"
              />
              &nbsp;&nbsp; Design by PrintLab
            </div>
          </div>
        </div>

        <div class="col-6 mt-5 p-3 h-100 invoice">
          <h4 class="text-center">Order Summary</h4>

          <div class="my-3">
            <h5 class="text-decoration-underline">Order Summary:</h5>
            <div>
              <span>Product Name: </span>
              <span>{{ productName }}</span>
            </div>
            <div class="py-1">
              <h6 class="fw-normal" *ngIf="paperStockItem?.name">Paper: {{paperStockItem?.name}}</h6>
              <h6 class="fw-normal" *ngIf="category?.name">Category: {{category?.name}}</h6>
              <h6 class="fw-normal" *ngIf="sizeValue?.name">Size: {{sizeValue?.name}}</h6>
              <h6 class="fw-normal" *ngIf="qtyValue?.name">Qty: {{qtyValue?.name}}</h6>
              <h6 class="fw-normal" *ngIf="sideOptionValue?.name">Side: {{sideOptionValue?.name}}</h6>
              <h6 class="fw-normal" *ngIf="jobFrontValue?.name">FronColor: {{jobFrontValue?.name}}</h6>
              <h6 class="fw-normal" *ngIf="jobBackValue?.name">BackColor: {{jobBackValue?.name}}</h6>
              <h6 class="fw-normal" *ngIf="selectedGsm?.name">{{dynamicFields}} GSM: {{selectedGsm?.name}}</h6>
            </div>
            <div class="mt-4">
              <span>Total: </span>
              <h6 class="d-inline-block">Rs, {{ totalAmount }}</h6>
            </div>
          </div>

          <div class="my-3">
            <h5 class="text-decoration-underline">Design Information:</h5>
            <span>{{ design }}</span>
          </div>

          <div class="my-3">
            <h5 class="text-decoration-underline">Customer Information:</h5>
            <div>
              <div>
                <span>Client's Name: </span>
                <span>{{ selectedCustomer?.name }}</span>
              </div>
              <div>
                <span>Business Name: </span>
                <span>{{ selectedCustomer?.businessName }}</span>
              </div>
            </div>
          </div>

          <div class="my-3">
            <h5 class="text-decoration-underline">Estimated Delivery Date:</h5>
            <span class="text-danger">Monday, July 17, 2023</span>
          </div>
          <button
            type="submit"
            class="btn order-table-btn btn-search-panel w-100"
            [disabled]="totalAmount == null"
            (click)="addOrder()"
          >
            {{ buttonName }} Order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
