<app-sidebar></app-sidebar>
<div class="container-fluid ps-6 pe-1">
  <app-dashboard-head></app-dashboard-head>
  <div class="container-fluid px-0 mt-5">
    <div>
      <h4>Product Field</h4>
    </div>
    <div class="order-search-panel">
      <input type="text" placeholder="Search by Product Size" [(ngModel)]="search" class="order-search form-control"
        (keyup)="searchProdutField($event.target)" />
      <div>
        <button type="button" class="btn order-table-btn btn-search-panel" routerLink="/addProductField">
          <i class="fa-solid fa-plus"></i>&nbsp;Add
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid ps-6 overflow-auto">
  <table class="table table-responsive text-center">
    <thead>
      <tr>
        <th scope="col" class="col-2 text-lg-center">Name</th>
        <th scope="col" class="col-2 text-lg-center">Created at</th>
        <th scope="col" class="col-1 text-lg-center">Sequence</th>
        <th scope="col" class="col-3 text-lg-center">Type</th>
        <th scope="col" class="col-1 text-lg-center">Status</th>
        <th scope="col" class="col-3 text-lg-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="order-table-404" colspan="6" *ngIf="tableData">
          No record found
        </td>
      </tr>
      <tr *ngFor="let field of fieldList">
        <td class="text-lg-center">{{ field.name }}</td>
        <td class="text-lg-center">{{ field?.created_at }}</td>
        <td class="text-lg-center">{{ field.sequence }}</td>
        <td class="text-lg-center">{{ field.type }}</td>
        <td class="text-lg-center">{{ field.status }}</td>
        <td class="text-lg-center">
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn order-table-btn" (click)="editField(field.id)">
              <i class="fa-solid fa-pen pe-1"></i>&nbsp;<small>Edit</small>
            </button>
            <button type="button" class="btn order-table-btn" (click)="deleteField(field.id)">
              <i class="fa-solid fa-trash pe-1"></i>&nbsp;<small>Delete</small>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p-toast></p-toast>

<!-- <p-dialog header="Error" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <h5 class="error-modal-head">{{ error }}</h5>
</p-dialog> -->
