<app-sidebar></app-sidebar>
<div class="container-fluid ps-6">
  <app-dashboard-head></app-dashboard-head>
  <div class="ps-0">
    <div>
      <h4>Products</h4>
      <p class="page-intro">Whole data about your business here</p>
    </div>
    <div class="container-fluid px-0 mt-5">
      <div class="order-search-panel">
        <input type="text" placeholder="Search by Product Size" [(ngModel)]="search" class="order-search form-control"
          (keyup)="searchProductRule($event.target)">
        <div>
          <button type="button" class="btn order-table-btn btn-search-panel" routerLink="/addProductRule">
            <i class="fa-solid fa-plus"></i>&nbsp;Add
          </button>
        </div>
      </div>
      <div class="order-table overflow-auto pt-0">
        <table class="table table-responsive text-center">
          <thead>
            <tr>
              <th scope="col" class="col">ID</th>
              <th scope="col" class="col">Title</th>
              <th scope="col" class="col">Ctp</th>
              <th scope="col" class="col">Press</th>
              <th scope="col" class="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!tableData">
              <td colspan="7" class="text-center">
                No record found
              </td>
            </tr>
            <tr *ngFor="let product of tableData; let i = index">
              <td>{{ product.id }}</td>
              <td>{{ product.title }}</td>
              <td>{{ product.ctp.plateDimension }}</td>
              <td>{{ product.pressMachine.name }}</td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn order-table-btn" (click)="editProduct(product.id)">
                    <i class="fa-solid fa-pen pe-lg-2"></i><small>Edit</small>
                  </button>
                  <button type="button" class="btn order-table-btn" (click)="viewProduct(product.id)">
                    <i class="fa-solid fa-hand-pointer pe-lg-2"></i>&nbsp;<small>View</small>
                  </button>
                  <button type="button" class="btn order-table-btn" (click)="deleteProduct(product.id)">
                    <i class="fa-solid fa-trash pe-lg-2"></i><small class="">Delete</small>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- <p-toast></p-toast> -->
