<app-sidebar></app-sidebar>
<div class="body-position">
  <app-dashboard-head></app-dashboard-head>

  <div class="main-container">
    <div>
      <h4>{{ buttonName }} Press Machine</h4>
    </div>
      <div class="order-body py-2">
        <div class="container">
          <div class="row">
            <div class="col-6 my-3">
              <label class="add-order-label m-0">Press</label>
              <input
                type="text"
                class="order-search form-control order-form-input m-0"
                [(ngModel)]="nameValue"
                style="border: 1px solid #ced4da"
                placeholder="Enter Press Machine Name"
                name="name"
                required
              />
            </div>
            <div class="col-6 my-3">
              <label class="add-order-label m-0">Plate Dimension</label>
              <p-dropdown styleClass="w-100" [options]="plateDimensions" placeholder="Select Plates" [(ngModel)]="plateDimension"></p-dropdown>
            </div>
            <div class="col-6 my-3">
              <label class="add-order-label m-0">Gripper Margin(mm)</label>
              <input
                type="text"
                class="order-search form-control order-form-input m-0"
                [(ngModel)]="gripperMargin"
                style="border: 1px solid #ced4da"
                placeholder="Enter Gripper Margin"
                name="name"
                required
              />
            </div>
            <div class="col-6 my-3">
              <label class="add-order-label m-0">Max. Sheet Size</label>
              <input
                type="text"
                class="order-search form-control order-form-input m-0"
                [(ngModel)]="maxSheetSize"
                style="border: 1px solid #ced4da"
                placeholder="Enter Max Sheet Size"
                name="name"
                required
              />
            </div>
            <div class="col-6 my-3">
              <label class="add-order-label m-0">Min. Sheet Size</label>
              <input
                type="text"
                class="order-search form-control order-form-input m-0"
                [(ngModel)]="minSheetSize"
                style="border: 1px solid #ced4da"
                placeholder="Enter Min Sheet Size"
                name="name"
                required
              />
            </div>
            <div class="col-6 my-3">
              <label class="add-order-label m-0">Max SPH</label>
              <input
                type="number"
                class="order-search form-control order-form-input m-0"
                [(ngModel)]="maxSph"
                style="border: 1px solid #ced4da"
                placeholder="Enter Max SPH"
                name="name"
                required
              />
            </div>
            <div class="col-6 my-3">
              <label class="add-order-label m-0">Vendor</label>
              <p-dropdown styleClass="w-100" [options]="vendorArray" optionLabel="name" placeholder="Select Vendor"
              [(ngModel)]="vendorValue"></p-dropdown>
            </div>
            <div class="col-6 my-3">
              <label class="add-order-label m-0">Impression Rate</label
                ><br />
                <input
                type="number"
                class="order-search form-control order-form-input m-0"
                [(ngModel)]="impressionRateValue"
                style="border: 1px solid #ced4da"
                placeholder="Enter Impression Rate (1000)"
                name="imperession"
                required
                />
              </div>
          </div>
        </div>
      </div>
  </div>
    <div class="main-container">
      <div class="d-flex justify-content-between">
        <h4>Press machine size</h4>
        <button
          type="button"
          class="btn order-table-btn btn-search-panel py-2 px-3"
          (click)="generateElement()"
          [disabled]="paperSizesArray.length == 0"
        >
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>

      <div
        class="order-body py-2 my-2"
        *ngFor="let element of paperSize; let i = index"
      >
        <div class="container">
          <div class="row">
            <div class="col-5">
              <label class="add-order-label d-inline-block m-0">Label</label
              ><br />
              <p-dropdown
                [options]="paperSizesArray"
                styleClass="w-100"
                optionLabel="label"
                (ngModelChange)="addSize($event, i)"
                [(ngModel)]="obj[i]"
                [placeholder]="
                  buttonName == 'Add' ? 'Select Sheet Size' : placeHolder[i]
                "
                name="paperSize"
              >
              </p-dropdown>
            </div>
            <div class="col-5">
              <label class="add-order-label d-inline-block m-0">Value</label
              ><br />
              <input
                type="number"
                class="order-search form-control order-form-input m-0"
                [(ngModel)]="value[i]"
                style="border: 1px solid #ced4da"
                placeholder="Enter Value"
                name="value"
                required
              />
            </div>
            <div class="col-1 align-self-lg-end">
              <button
                type="submit"
                class="btn order-table-btn btn-search-panel"
                (click)="removeElement(i)"
              >
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="order-body mt-5 py-3">
        <div class="text-end">
          <button
            type="submit"
            class="btn order-table-btn btn-search-panel"
            (click)="addPressMachine()"
          >
            {{ buttonName }}
          </button>
        </div>
      </div>
    </div>
</div>
<p-toast>{{error}}</p-toast>
<!-- <p-dialog
  header="Error"
  [(visible)]="visible"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <h5 class="error-modal-head">{{ error }}</h5>
</p-dialog> -->
