<nav class="main-menu overflow-y-auto">
  <ul>
    <li>
      <span>
        <img
          class="w-75 nav-text ms-2 nav-logo"
          src="../../../assets/images/print-lab-logo.png"
          alt=""
        />
      </span>
    </li>

    <li *ngIf="sessionStorageService.hasPermission('Dashboard')">
      <span class="sidebar-list-hover">
        <i class="fa fa-home fa-2x"></i>
        <a class="nav-text nav-link" [routerLink]="['/dashboard']">
          Dashboard
        </a>
      </span>
    </li>

    <li *ngIf="sessionStorageService.hasPermission('User')">
      <span class="sidebar-list-hover">
        <i class="fa fa-user fa-2x"></i>
        <a class="nav-text nav-link" [routerLink]="['/user']"> User </a>
      </span>
    </li>

    <li *ngIf="sessionStorageService.hasPermission('ProductRule')" class="mt-2">
      <span class="sidebar-list-hover">
        <i class="fa fa-shopping-bag fa-2x"></i>
        <a class="nav-text nav-link" [routerLink]="['/ProductRule']">
          Product Rule
        </a>
      </span>
    </li>

    <li *ngIf="sessionStorageService.hasPermission('Orders')" class="mt-2">
      <span class="sidebar-list-hover">
        <i class="fa fa-shopping-cart fa-2x"></i>
        <a class="nav-text nav-link" [routerLink]="['/orders']"> Orders </a>
      </span>
    </li>

    <li *ngIf="sessionStorageService.hasPermission('JobDesigner')" class="mt-2">
      <span class="sidebar-list-hover">
        <i class="fa fa-shopping-cart fa-2x"></i>
        <a class="nav-text nav-link" [routerLink]="['/jobDesignerOrders']"> Orders </a>
      </span>
    </li>
    <li *ngIf="sessionStorageService.hasPermission('JobProduction')" class="mt-2">
      <span class="sidebar-list-hover">
        <i class="fa fa-shopping-cart fa-2x"></i>
        <a class="nav-text nav-link" [routerLink]="['/jobProductionOrders']"> Orders </a>
      </span>
    </li>
    <li *ngIf="sessionStorageService.hasPermission('JobPlateSetter')" class="mt-2">
      <span class="sidebar-list-hover">
        <i class="fa fa-shopping-cart fa-2x"></i>
        <a class="nav-text nav-link" [routerLink]="['/jobPlateSetterOrders']"> Orders </a>
      </span>
    </li>

    <li *ngIf="sessionStorageService.hasPermission('Customers')" class="mt-2">
      <span class="sidebar-list-hover">
        <i class="fa fa-user fa-2x"></i>
        <a class="nav-text nav-link" [routerLink]="['/customers']">
          Customers
        </a>
      </span>
    </li>

    <li
      class="settingOptions mt-2"
      *ngIf="sessionStorageService.hasPermission('Configuration_Vendor')"
    >
      <span>
        <a
          class="sidebar-list-hover-settings"
          class="sidebar-list-hover-settings nav-link"
          [routerLink]="['/vendor']"
        >
          <i class="fa fa-gear fa-2x"></i>
          <span class="nav-text">Vendor</span>
        </a>
      </span>
    </li>

    <li *ngIf="sessionStorageService.hasPermission('Calculator')" class="mt-2">
      <span class="sidebar-list-hover">
        <i class="fa fa-calculator"></i>
        <a class="nav-text nav-link" [routerLink]="['/calculator']">
          Calculator
        </a>
      </span>
    </li>

    <li
      class="sidebar-list-hover mt-2"
      *ngIf="sessionStorageService.hasPermission('Configuration')"
    >
      <span (click)="toggleDropDown(1)">
        <i class="fa fa-bars fa-2x"></i>
        <span class="nav-text fw-bolder">
          Paper Management
          <i
            class="fa-solid fa-chevron-down dd-icon-settings"
            *ngIf="isDropDown1Open == false"
          ></i>
          <i
            class="fa-solid fa-chevron-up dd-icon-settings"
            *ngIf="isDropDown1Open == true"
          ></i>
        </span>
      </span>
    </li>

    <li
      class="settingOptions mt-2"
      *ngIf="sessionStorageService.hasPermission('Configuration_Paper_Size')"
    >
      <span>
        <a
          class="sidebar-list-hover-settings"
          *ngIf="isDropDown1Open == true"
          class="sidebar-list-hover-settings nav-link"
          [routerLink]="['/paperSize']"
        >
          <i class="fa fa-gear fa-2x"></i>
          <span class="nav-text">Paper Size</span>
        </a>
      </span>
    </li>

    <li *ngIf="sessionStorageService.hasPermission('PaperStock')" class="mt-2">
      <span class="sidebar-list-hover" *ngIf="isDropDown1Open == true">
        <i class="fa fa-pied-piper"></i>
        <a class="nav-text nav-link" [routerLink]="['/paperStock']">
          Paper Stock
        </a>
      </span>
    </li>

    <li
      class="settingOptions mt-2"
      *ngIf="sessionStorageService.hasPermission('Configuration_Uping')"
    >
      <span>
        <a
          class="sidebar-list-hover-settings"
          *ngIf="isDropDown1Open == true"
          class="sidebar-list-hover-settings nav-link"
          [routerLink]="['/uping']"
        >
          <i class="fa fa-gear fa-2x"></i>
          <span class="nav-text">Uping</span>
        </a>
      </span>
    </li>

    <li
      class="settingOptions mt-2"
      *ngIf="sessionStorageService.hasPermission('Configuration_Inventory')"
    >
      <span>
        <a
          class="sidebar-list-hover-settings"
          *ngIf="isDropDown1Open == true"
          class="sidebar-list-hover-settings nav-link"
          [routerLink]="['/inventory']"
        >
          <i class="fa fa-gear fa-2x"></i>
          <span class="nav-text">Inventory</span>
        </a>
      </span>
    </li>

    <li
      class="sidebar-list-hover mt-2"
      *ngIf="sessionStorageService.hasPermission('Configuration')"
    >
      <span (click)="toggleDropDown(2)">
        <i class="fa fa-bars fa-2x"></i>
        <span class="nav-text fw-bolder">
          Vendor Rates
          <i
            class="fa-solid fa-chevron-down dd-icon-settings"
            *ngIf="isDropDown2Open == false"
          ></i>
          <i
            class="fa-solid fa-chevron-up dd-icon-settings"
            *ngIf="isDropDown2Open == true"
          ></i>
        </span>
      </span>
    </li>

    <li
      class="settingOptions mt-2"
      *ngIf="sessionStorageService.hasPermission('Configuration_CTP')"
    >
      <span>
        <a
          class="sidebar-list-hover-settings"
          *ngIf="isDropDown2Open"
          class="sidebar-list-hover-settings nav-link"
          [routerLink]="['/ctp']"
        >
          <i class="fa fa-gear fa-2x"></i>
          <span class="nav-text">CTP</span>
        </a>
      </span>
    </li>

    <li
      class="settingOptions mt-2"
      *ngIf="sessionStorageService.hasPermission('Configuration_Press_Machine')"
    >
      <span>
        <a
          class="sidebar-list-hover-settings"
          *ngIf="isDropDown2Open"
          class="sidebar-list-hover-settings nav-link"
          [routerLink]="['/pressMachine']"
        >
          <i class="fa fa-gear fa-2x"></i>
          <span class="nav-text">Press Machine</span>
        </a>
      </span>
    </li>

    <li
      class="settingOptions mt-2"
      *ngIf="
        sessionStorageService.hasPermission('Configuration_Paper_Market_Rate')
      "
    >
      <span>
        <a
          class="sidebar-list-hover-settings"
          *ngIf="isDropDown2Open"
          class="sidebar-list-hover-settings nav-link"
          [routerLink]="['/paperMarket']"
        >
          <i class="fa fa-gear fa-2x"></i>
          <span class="nav-text">Paper Market</span>
        </a>
      </span>
    </li>

    <li
      class="sidebar-list-hover mt-2"
      *ngIf="sessionStorageService.hasPermission('Configuration')"
    >
      <span (click)="toggleDropDown(3)">
        <i class="fa fa-bars fa-2x"></i>
        <span class="nav-text fw-bolder">
          System
          <i
            class="fa-solid fa-chevron-down dd-icon-settings"
            *ngIf="isDropDown3Open == false"
          ></i>
          <i
            class="fa-solid fa-chevron-up dd-icon-settings"
            *ngIf="isDropDown3Open == true"
          ></i>
        </span>
      </span>
    </li>

    <li
      class="settingOptions mt-2"
      *ngIf="
        sessionStorageService.hasPermission('Configuration_Product_Process')
      "
    >
      <span>
        <a
          class="sidebar-list-hover-settings"
          *ngIf="isDropDown3Open"
          class="sidebar-list-hover-settings nav-link"
          [routerLink]="['/productProcess']"
        >
          <i class="fa fa-gear fa-2x"></i>
          <span class="nav-text">Product Process</span>
        </a>
      </span>
    </li>

    <li
      class="settingOptions mt-2"
      *ngIf="sessionStorageService.hasPermission('Configuration_Settings')"
    >
      <span>
        <a
          class="sidebar-list-hover-settings"
          *ngIf="isDropDown3Open"
          class="sidebar-list-hover-settings nav-link"
          [routerLink]="['/settings']"
        >
          <i class="fa fa-gear fa-2x"></i>
          <span class="nav-text">Settings</span>
        </a>
      </span>
    </li>

    <li *ngIf="sessionStorageService.hasPermission('Permissions')" class="mt-2">
      <span class="sidebar-list-hover" *ngIf="isDropDown3Open">
        <i class="fa fa-plus"></i>
        <a class="nav-text nav-link" [routerLink]="['/permission']">
          Permissions
        </a>
      </span>
    </li>
  </ul>
</nav>
