<app-sidebar></app-sidebar>
<div class="container-fluid ps-6">
  <app-dashboard-head></app-dashboard-head>
  <div class="container-fluid px-0">
    <div>
      <h4>Customer</h4>
    </div>

    <div class="container-fluid px-0 mt-5">
      <div class="order-search-panel">
        <input type="text" placeholder="Search by Product Size" [(ngModel)]="search" class="order-search form-control"
          (input)="searchCustomer($event.target)">
        <div>
          <button type="button" class="btn order-table-btn btn-search-panel" routerLink="/addCustomer">
            <i class="fa-solid fa-plus"></i>&nbsp;Add
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid ps-6 overflow-auto mt-0">
  <table class="table table-responsive text-center">
    <thead class="position-sticky top-0 z-1">
      <tr>
        <th scope="col" class="col-lg-1 col-1">ID</th>
        <th scope="col" class="col-lg-3 col-1">Name</th>
        <th scope="col" class="col-lg-4 col-1">Business Name</th>
        <th scope="col" class="col-lg-4 col-1">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4" *ngIf="tableData">No record found</td>
      </tr>
      <tr *ngFor="let customer of customersArray">
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.businessName }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Second group">
            <button type="button" class="btn order-table-btn" (click)="editCustomer(customer.id)">
              <i class="fa-solid fa-pen pe-1"></i>&nbsp;<small>Edit</small>
            </button>
            <button type="button" class="btn order-table-btn" (click)="deleteCustomer(customer.id)">
              <i class="fa-solid fa-trash pe-1"></i>&nbsp;<small>Delete</small>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p-toast></p-toast>
