<app-sidebar></app-sidebar>
<form
  class="was-validated ms-5"
  #myForm="ngForm"
  novalidate
  *ngFor="let product of productRuleData"
>
  <div class="bg-light pb-3 pt-3">
    <div class="container bg-white py-2 my-3">
      <div class="row py-2 mx-auto">
        <div class="col-md-12">
          <div class="form-group mb-3">
            <label for="formGroupExampleInput" class="form-label fs-4"
              >Product :</label
            >
            <div class="">
              {{ product.title }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container bg-white my-3 py-2">
      <h4 class="text-decoration-underline">Size</h4>
      <div class="row justify-content-evenly mx-auto">
        <div class="col">
          <label class="add-order-label m-0">Category :</label>
          <div>{{ product.category }}</div>
        </div>

        <div class="col">
          <label class="add-order-label m-0">Paper Size :</label>
          <div *ngIf="paperSize && paperSize.length > 0">
            <ng-container *ngFor="let label of paperSize; let i = index">
              {{ i + 1 }}: {{ label }}<br />
            </ng-container>
          </div>
        </div>

      </div>
    </div>

    <div
      class="container bg-white py-2 my-3"
      *ngFor="let container of paperStockData; let j = index"
    >
      <h3 class="text-center text-decoration-underline">
        PaperStock Rule {{ j + 1 }}
      </h3>
      <div class="row py-1 mx-1">
        <label class="add-order-label m-0">Customer Friendly Name :</label>
        <label>{{ container.customerFriendlyName }}</label>
      </div>
      <div class="row py-1 mx-auto">
        <div class="col">
          <label class="add-order-label m-0">PaperStock :</label>
          <div>{{ container.paperStock }}</div>
        </div>
        <div class="col">
          <label class="add-order-label m-0">Brand :</label>
          <div>{{ container.brand }}</div>
        </div>
      </div>
      <div class="row py-1 mx-auto">
        <div class="col">
          <label class="add-order-label m-0">MadeIn :</label>
          <div>{{ container.madeIn }}</div>
        </div>
        <div class="col">
          <label class="add-order-label m-0">Dimensions :</label>
          <div>{{ container.dimension }}</div>
        </div>
      </div>
      <div class="row py-1 mx-auto">
        <div class="col">
          <label class="add-order-label m-0">Vendor :</label>
          <div>{{ container.vendor.name }}</div>
        </div>
        <div class="col">
          <label class="add-order-label m-0">Gsm :</label>
          <div>{{ gsm[j].join(", ") }}</div>
        </div>
      </div>
    </div>
    <div
      class="container bg-white my-2 py-2"
      *ngFor="let press of pressData; let k = index"
    >
      <h4 class="text-decoration-underline">Press</h4>
      <div class="row mx-auto">
        <div class="col">
          <label class="add-order-label m-0">Press :</label>
          <div>{{ press.name }}</div>
        </div>
        <div class="col">
          <label class="add-order-label m-0">Vendor :</label>
          <div>{{ press.vendor.name }}</div>
        </div>
      </div>
      <div class="row mx-auto mt-3">
        <div class="col">
          <label class="add-order-label m-0">Quantities</label>
          <div>{{ qty[k].join(", ") }}</div>
        </div>
      </div>
    </div>

    <div
      class="container bg-white my-3 py-2"
      *ngFor="let ctp of ctpData; let l = index"
    >
      <h4 class="text-decoration-underline">CTP</h4>
      <div class="row mx-auto">
        <div class="col">
          <label class="add-order-label m-0">Plate Dimensions :</label>
          <div>{{ ctp.plateDimension }}</div>
        </div>
        <div class="col">
          <label class="add-order-label m-0">Vendor :</label>
          <div>{{ ctp.vendor.name }}</div>
        </div>
      </div>
      <div class="row mx-auto mt-3">
        <div class="col">
          <label class="add-order-label m-0">PrintSide :</label>
          <div>{{ product.printSide }}</div>
        </div>
        <div class="col">
          <label class="add-order-label m-0">Job Color Front :</label>
          <div>{{ frontColors.join(", ") }}</div>
        </div>
      </div>
      <div class="row mx-auto mt-3">
        <div class="col" *ngIf="product.jobColorBack">
          <label class="add-order-label m-0"> Job Color Back</label>
          <div>{{ backColors.join(", ") }}</div>
        </div>
        <div class="col">
          <label class="add-order-label m-0">Imposition</label>
          <div>{{ product.impositionValue }}</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mx-auto d-flex justify-content-end">
        <button
          class="btn btn-dark col-1"
          type="button"
          routerLink="/ProductRule"
        >
          Back
        </button>
      </div>
    </div>
  </div>
</form>
