<app-sidebar></app-sidebar>
<div class="body-position">
  <app-dashboard-head></app-dashboard-head>

  <div class="main-container">
    <div>
      <h4>{{ buttonName }} Settings</h4>
    </div>
    <form class="was-validated" #settings="ngForm" novalidate>
      <div class="order-body py-2">
        <div class="container">
          <div class="row">
            <div class="col-6 my-3">
              <label class="add-order-label m-0">Key</label>
              <input
                type="text"
                class="order-search form-control order-form-input m-0"
                [(ngModel)]="keyData"
                style="border: 1px solid #ced4da"
                placeholder="Enter Key"
                name="keyData"
                required
              />
            </div>
            <div class="col-6 my-3">
              <label class="add-order-label m-0">Value</label>
              <input
                type="text"
                class="order-search form-control order-form-input m-0"
                [(ngModel)]="valueData"
                style="border: 1px solid #ced4da"
                placeholder="Enter Value"
                name="valueData"
                required
              />
            </div>
            <div class="col-12 my-3 d-flex justify-content-center mx-0">
              <button
                type="submit"
                class="col-12 btn order-table-btn btn-search-panel w-25"
                (click)="addSetting()"
                [disabled]="!settings.valid"
              >
                {{ buttonName }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<p-toast>{{error}}</p-toast>

<!-- <p-dialog
  header="Error"
  [(visible)]="visible"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <h5 class="error-modal-head">{{ error }}</h5>
</p-dialog> -->
