<app-sidebar></app-sidebar>
<div class="body-position">
  <app-dashboard-head></app-dashboard-head>
  <div class="main-container">
    <div>
      <h4>CTP</h4>
    </div>
    <div class="order-body">
      <div class="order-search-panel">
        <input type="text" placeholder="Search CTP" class="order-search form-control" [(ngModel)]="search"
          (keyup)="searchCtp($event.target)">
        <div>
          <button type="button" class="btn order-table-btn btn-search-panel" routerLink="/addCtp">
            <i class="fa-solid fa-plus"></i>&nbsp;Add
          </button>
        </div>
      </div>
      <div class="order-table">
        <table class="table table-hover text-center">
          <thead class="position-sticky top-0 z-1">
            <tr>
              <th scope="col">Date Added</th>
              <th scope="col">L1 (mm)</th>
              <th scope="col">L2 (mm)</th>
              <th scope="col">Plate Dimension</th>
              <th scope="col">Vendor</th>
              <th scope="col">Rate</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="order-table-404" colspan="7" *ngIf="tableData">No record
                found</td>
            </tr>
            <tr *ngFor="let ctp of ctpArray" class="order-table-row-hover">
              <td>{{ctp?.date}}</td>
              <td>{{ctp?.l1}}</td>
              <td>{{ctp?.l2}}</td>
              <td>{{ctp?.plateDimension}}</td>
              <td>{{ctp?.vendor?.name}}</td>
              <td>{{ctp?.rate}}</td>
              <td class="order-table-btns-container">
                <div class="btn-group mr-2" role="group" aria-label="Second group">
                  <button type="button" class="btn order-table-btn" (click)="editCtp(ctp.id)"><i
                      class="fa-solid fa-pen"></i>&nbsp;Edit </button>
                  <button type="button" class="btn order-table-btn" (click)="delteCtp(ctp.id)">
                    <i class="fa-solid fa-trash"></i>&nbsp;Delete
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>

<!-- <p-dialog header="Error" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <h5 class="error-modal-head">{{error}}</h5>
</p-dialog> -->
