<div class="container-fluid">
  <div class="row">
    <div class="col-8 bg-dark d-flex justify-content-center align-items-center" style="height: 100vh;">
      <img src="../../../assets/images/print-lab-logo.png" alt="Centered Image" class="img-fluid">
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <form class="p-4 w-100">
        <h2 class="mb-4 text-center">Login</h2>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="userNamevalue"
            [ngModelOptions]="{standalone: true}" placeholder="Enter email">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <div class="d-flex">
            <input [(ngModel)]=" passwordValue" type="{{passwordToggle}}" class="form-control"
              style="border-top-right-radius: 0; border-bottom-right-radius: 0;" [ngModelOptions]="{standalone: true}"
              placeholder="Enter password">
            <span class="form-control form-control-color text-center"
              style="border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: 0;"
              (click)="togglePasswordVisiblity()">
              <i class="fa-solid fa-eye" *ngIf="showPassword"></i>
              <i class="fa-solid fa-eye-slash" *ngIf="!showPassword"></i>
            </span>
          </div>
        </div>
        <div class="text-center">
         <button type="submit" (click)="addUser()"
         pButton pRipple class=" col-12 btn order-table-btn btn-search-panel btn-sm w-25">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- <p-dialog header="Error" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <h5 class="error-modal-head">{{error}}</h5>
</p-dialog> -->

<p-toast></p-toast>
