<div class="collapse container-fluid mt-3 mb-3" id="collapseExample">
  <div class="row mx-auto justify-content-center justify-content-lg-start" >
<div class="container d-flex justify-content-center">
  <div class="loader" *ngIf="isLoading"></div>
</div>
<div class="container-fluid ps-1"[ngClass]="{ 'hide-content': isLoading }">
  <div class="row">
    <div class="col d-flex justify-content-center">
<table
  class="table-bordered border-2 border border-dark table-responsive text-lg-start text-center fw-bold"
  style="width: 16rem"
  id="configRate"
>
  <thead>
    <tr>
      <th colspan="2">Press Specification</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">
        <select class="form-select form-select-sm w-100 border-0 fw-bold ps-0" [(ngModel)]="selectedPress">
          <option *ngFor="let machine of press" [value]="machine.id" >{{machine.press}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Impressions: <br/> {{ getSelectedPressImpressions() }}</td>
      <td>Impressions: <br/> {{ getSelectedPressBaseRate() }}</td>
    </tr>
    <tr>
      <td>Ctp Rate: <br/> {{getSelectedPressCtpRate()}}</td>
      <td *ngIf="selectedValue && selectedPress">
        {{ getBataRate(selectedValue, selectedPress) !== '-' ? 'SHEET PIECES: 1/' + getBataRate(selectedValue, selectedPress) : 'Error!' }}
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="col mt-3">
<table
  class="table-bordered border-2 border border-dark table-responsive text-lg-start text-center fw-bold "
  style="width: 16rem"
  id="configRate"
>
  <thead>
    <tr>
      <th>Your Specification</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input class="col-12" type="number" name="margin" placeholder="Margin" id="" [(ngModel)]="margin"
        >
      </td>
    </tr>
    <tr>
      <td>
        <input class="col-12" type="number" name="setupFee" id="" placeholder="setupFee" [(ngModel)]="setupFee">
      </td>
    </tr>
  </tbody>
</table>
</div>
<div class="container-fluid text-center">
  <button class="btn btn-dark" (click)="saveDataAndShowLoader()">Save</button>
</div>
</div>
</div>
  </div>
</div>
