<app-sidebar></app-sidebar>
<div class="body-position mb-5" >
  <app-dashboard-head></app-dashboard-head>

  <div class="container-fluid mt-5">
    <div class="mb-5">
      <h2>Dashboard</h2>
    </div>
    <div class="row" >
    <div class="col" >
    <app-dashboard-cards ></app-dashboard-cards>
    </div>
  </div>
  </div>
  <div class="d-flex justify-content-evenly mt-5 pb-5">
    <app-dashboard-chart></app-dashboard-chart>
    <app-dashboard-chart-pie ></app-dashboard-chart-pie>
  
  </div>
</div>