<app-sidebar></app-sidebar>
<div class="body-position">
  <app-dashboard-head></app-dashboard-head>

  <div class="main-container">
    <div>
      <h4>Order</h4>
    </div>

    <div>
      <div class="order-body p-3 my-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 my-2">
              <h4>Product</h4>
              <div>{{order?.product}}</div>
            </div>
            <div class="col-6 my-2">
              <h4>Customer name</h4>
              <div>{{order?.customer?.name}}</div>
            </div>
            <div class="col-6 my-2">
              <h4>Customer Business</h4>
              <div>{{order?.customer?.businessName}}</div>
            </div>
            <div class="col-6 my-2">
              <h4>Paper</h4>
              <div>{{order?.paper}}</div>
            </div>
            <div class="col-6 my-2">
              <h4>Category</h4>
              <div>{{order?.category}}</div>
            </div>
            <div class="col-6 my-2">
              <h4>GSM</h4>
              <div>{{order?.gsm}}</div>
            </div>
            <div class="col-6 my-2">
              <h4>Design</h4>
              <div>{{order?.providedDesign}}</div>
            </div>
            <div class="col-6 my-2">
              <h4>Size</h4>
              <div>{{size?.label}}</div>
            </div>
            <div class="col-6 my-2">
              <h4>Print Side</h4>
              <div>{{order?.sideOptionValue}}</div>
            </div>
            <div class="col-6 my-2">
              <h4>Front Colors</h4>
              <div>{{order?.jobColorsFront}}</div>
            </div>
            <div class="col-6 my-2" *ngIf="order?.sideOptionValue !== 'SINGLE_SIDED'">
              <h4>Back Colors</h4>
              <div>{{order?.jobColorsBack}}</div>
            </div>
            <div class="col-6 my-2">
              <h4>Quantity</h4>
              <div>{{order?.quantity}}</div>
            </div>
            <div class="col-6 my-2">
              <h4>Price</h4>
              <div>{{order?.price}}</div>
            </div>
            <div class="col-6 my-2">
              <h4>Image URL</h4>
              <div>
                <img src="{{order?.url}}" alt="PrintLab" width="600">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <p-dialog header="Error" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <h5 class="error-modal-head">{{error}}</h5>
</p-dialog> -->
<p-toast></p-toast>
