<app-sidebar></app-sidebar>
<div class="container-fluid ps-6">
  <app-dashboard-head></app-dashboard-head>
  <div class="container-fluid mt-5">
    <div class="row">
      <h4>Orders</h4>
    </div>
  </div>
  <div class="order-body">
    <form class="order-search-panel">
      <input
        class="order-search form-control"
        type="search"
        placeholder="Search Order"
        aria-label="Search"
        name="search"
        [(ngModel)]="search"
        (keyup)="searchOrder($event.target)"
      />
    </form>
  </div>

  <div class="order-table overflow-x-auto text-nowrap">
    <table class="table table-fixed table-responsive text-center">
      <thead>
        <tr>
          <th scope="col" class="col-1">ID</th>
          <th scope="col" class="col-3">Customer Name</th>
          <th scope="col" class="col-3">Product Name</th>
          <th scope="col" class="col-2">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="order-table-404" colspan="8" *ngIf="tableData">
            No record found
          </td>
        </tr>
        <tr *ngFor="let order of ordersArray" class="order-table-row-hover">
          <th scope="row" class="tracking-id">{{ order?.id }}</th>
          <td>{{ order?.customer?.name }}</td>
          <td>{{ order?.product }}</td>
          <td>Rs. {{ order?.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p-toast></p-toast>
</div>
